{% extends 'base.html'%}
{%load thumbnail  i18n %}

{%block extrahead %}
<meta property="fb:app_id" content="{{FACEBOOK_ID}}" />
<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="http://{{SITE.domain}}{%url detail object.id %}" /> 
<meta property="og:title"  content="{%trans "My Current status"%}" /> 
<meta property="og:description"  content="by FartApps" /> 
 {% thumbnail object.image_url '200x200' crop="center" as img %}
 <meta property="og:image"  content="http://{{SITE.domain}}{{img.url}}" />
{% endthumbnail %}
{%endblock %}

{%block content %}
<div class="center current">
  <h1>  {% trans "My Current status"%}:</h1>
 <a href="{{object.image_url}}" target="_blank"> <img src="{{object.image_url}}" /></a>
  <div class="row">
    <div class="span1 offset3" style="height: 61px;">
    
      <div class="fb-like" data-href="http://{{SITE.domain}}{%url detail status.id %}" data-layout="box_count" data-width="450" data-show-faces="true"></div>
    </div>

      <div class="span1" style="text-align:left;">
        <a id="post" href="http://{{SITE.domain}}{%url detail status.id  %}">
          <img src="{{MEDIA_URL}}fb.png" />
        </a>
      </div>
  </div>

  </br>
  <a class=" btn btn-large btn-danger"href="{%url index %}">{%trans "Another"%}</a>
<div class="clear"></div>
<div class="center">
{% for tag in status.tags.all %}
<a href="#">{{tag}}</a>
{% endfor %}
</div>
</div>


{% endblock %}
