<div class="pagination pagination-centered pagination-large">    
    <ul>    
    {% for pagenum in page_obj.paginator.page_range %}    
        <li{% if page_obj.number == pagenum %} class="active"{% endif %}>
            <a href="{% url page pagenum %}">{{pagenum}}</a>
        </li>
    {% endfor %}
          </ul> 
</div>
